{% include 'header.html' %}
{% include 'navbar.html' %}
{% block body %}
<div class="container">
  <h2>Tabla Tipo</h2>
    <a href="/sel_tipos" class=" btn btn-primary">Ver Todos </a><br/><br/>
  <p></p>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label ="close">
         <span aria-hidden="true">x</span>
     </button>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <form action="/tipo" method="POST">
        <table class="table table-striped">
    <tbody>
        <tr><td>Nombre</td><td><input type="text" placeholder="Nombre Tabla" name="tabla" onkeypress="return sololetras(event)" onpaste="return false"/></td></tr>
        <tr><td>Monto Maximo</td><td><input type="text" placeholder="Cantidad" name="cant" onkeypress="return solonumerosd(event)" onpaste="return false"/></td></tr>
        <tr><td>Descripción</td><td><input type="text" placeholder="Información" name="infor"/></td></tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Enviar</button>
        </form>

</div>
{% endblock %}
{% include 'footer.html' %}
